<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TicketServer1" providerName="MySql.Data.MySqlClient" connectionString="Server=168.168.1.106;Port=3306;Database=exchange;Uid=sa;Pwd=sa123456;" />
    <add name="TicketServer2" providerName="MySql.Data.MySqlClient" connectionString="Server=192.168.80.134;Port=3306;Database=sequence;Uid=root;Pwd=123456789;" />
    <add name="ShardCatalog" providerName="MySql.Data.MySqlClient" connectionString="Server=168.168.1.106;Port=3306;Database=ShardCatalog;Uid=sa;Pwd=sa123456;" />
    <add name="Dynamic" providerName="MySql.Data.MySqlClient" connectionString="Server=168.168.1.106;Port=3306;Database=ShardCatalog;Uid=sa;Pwd=sa123456;" />
  </connectionStrings>
</configuration>